[submodule "runtime/zafiro"]
	path = runtime/zafiro
	url = https://github.com/niki914/zafiro.git
[submodule "execution/aries-ai"]
	path = execution/aries-ai
	url = https://github.com/ZG0704666/Aries-AI.git
[submodule "execution/closepaw"]
	path = execution/closepaw
	url = https://github.com/imoonkey/closepaw.git
[submodule "execution/operit"]
	path = execution/operit
	url = https://github.com/AAswordman/Operit.git
[submodule "concepts/appagentx"]
	path = concepts/appagentx
	url = https://github.com/Westlake-AGI-Lab/AppAgentX.git
[submodule "exploration/droidagent"]
	path = exploration/droidagent
	url = https://github.com/coinse/droidagent.git
[submodule "memory/mobiagent"]
	path = memory/mobiagent
	url = https://github.com/IPADS-SAI/MobiAgent.git
[submodule "skill-packaging/ghost-in-the-droid"]
	path = skill-packaging/ghost-in-the-droid
	url = https://github.com/ghost-in-the-droid/android-agent.git
